
li{
    list-style: none;
    /* background-color: lightgrey; */
}
.gird{
    display: grid;
    grid-template-columns: 10% 70% 3.2%;
    grid-gap: 2%;
}
.content-decoration{
    background-color: rgb(245, 245, 245);
}
.first-content{
    text-align: center;
    font-size: 180%;
    color: red;
}
.second-content{
    background-color: rgb(0, 0, 0);
}
.second-content i{
    font-size: 170%;
}